@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size:17px;
}

body {
  background-color: #3498db53;
}

header {
  background-color: rgb(0, 0, 55);
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  gap: 20px;
  position: sticky;
  top: 0;
}
.logo {
  cursor: pointer;
}
.logedInUser {
  padding: 10px 30px;
  border-radius: 5px;
  background-color: rgb(87, 0, 194);
  color: rgb(255, 255, 255);
}
.con {
  display: flex;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}
a {
  color: white;
  text-decoration: none;
}
a.active {
  color: #3498db;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: 20px;
}
.form {
  background-color: rgb(0, 0, 55);
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 11px;
}
.form h2 {
  color: white;
  text-align: center;
  font-size:25px;
}
.form input {
  /* width: 100%; */
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
}
button {
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #5700c2;
  color: white;
}
button:hover {
  background-color: #fff;
  background-color: #1b5b86;
}

.profileImg {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin-bottom: 20px;
}

.question {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.question h1,
.score {
  color: rgb(101, 21, 222);
  font-size: 30px;
}
.correction {
  color: red;
  font-size: bold;
}
select {
  padding: 10px;
  border: none;
}
.oneScore {
  color: #5ebfff;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: rgb(74, 34, 235)
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: rgb(118, 35, 253);
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #3498db;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
@media only screen and (max-width: 600px) {
  .con {
    gap: 10px;
  }
  .form {
    width: 300px;
  }
}
